<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       
       xsi:schemaLocation="
        http://www.springframework.org/schema/web-services 
        http://www.springframework.org/schema/web-services/web-services-1.5.xsd
        
        http://www.springframework.org/schema/mvc          
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        
        http://www.springframework.org/schema/tx           
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       >
       
    <!--  Subscription Requests -->
    <bean id="devSmsUserEventSubscription" class="com.pearson.ed.prospero.model.v1.subscriptions.ProsperoCheckerSubscriptionRequest">
    	<property name="prosperoBaseUrl" ref="devProsperoBaseUrl"/>
    	<property name="sendPath" ref="prosperoSendPath"/>
    	<property name="subscribePath" ref="prosperoSubscribePath"/>
    	
		<property name="authorization" ref="devAuth"/>
		<property name="callbackUrl" ref="devCallbackUrl"/>
		<property name="clientInfo" ref="smsClientInfo"/>
		<property name="messageType" ref="smsUserEventMessageType"/>
		<property name="systemInfo" ref="smsSystemInfo"/>
		<property name="tags" ref="smsUserEventTag"/>
	</bean>
	
	<bean id="testSmsUserEventSubscription" class="com.pearson.ed.prospero.model.v1.subscriptions.ProsperoCheckerSubscriptionRequest">
		<property name="prosperoBaseUrl" ref="testProsperoBaseUrl"></property>
		<property name="sendPath" ref="prosperoSendPath"/>
    	<property name="subscribePath" ref="prosperoSubscribePath"/>
    	
		<property name="authorization" ref="testAuth"/>
		<property name="callbackUrl" ref="testCallbackUrl"/>
		<property name="clientInfo" ref="smsClientInfo"/>
		<property name="messageType" ref="smsUserEventMessageType"/>
		<property name="systemInfo" ref="smsSystemInfo"/>
		<property name="tags" ref="smsUserEventTag"/>
	</bean>
	
	<bean id="intSmsUserEventSubscription" class="com.pearson.ed.prospero.model.v1.subscriptions.ProsperoCheckerSubscriptionRequest">
		<property name="prosperoBaseUrl" ref="intProsperoBaseUrl"></property>
		<property name="sendPath" ref="prosperoSendPath"/>
    	<property name="subscribePath" ref="prosperoSubscribePath"/>
    	
		<property name="authorization" ref="intAuth"/>
		<property name="callbackUrl" ref="intCallbackUrl"/>
		<property name="clientInfo" ref="smsClientInfo"/>
		<property name="messageType" ref="smsUserEventMessageType"/>
		<property name="systemInfo" ref="smsSystemInfo"/>
		<property name="tags" ref="smsUserEventTag"/>
	</bean>

	<bean id="ppeSmsUserEventSubscription" class="com.pearson.ed.prospero.model.v1.subscriptions.ProsperoCheckerSubscriptionRequest">
		<property name="prosperoBaseUrl" ref="ppeProsperoBaseUrl"></property>
		<property name="sendPath" ref="prosperoSendPath"/>
    	<property name="subscribePath" ref="prosperoSubscribePath"/>
    	
		<property name="authorization" ref="ppeAuth"/>
		<property name="callbackUrl" ref="ppeCallbackUrl"/>
		<property name="clientInfo" ref="smsClientInfo"/>
		<property name="messageType" ref="smsUserEventMessageType"/>
		<property name="systemInfo" ref="smsSystemInfo"/>
		<property name="tags" ref="smsUserEventTag"/>
	</bean>
	
	
	
	
	<!--  Authorization Data -->
	<!--  Authorization Data -->
	<!--  Authorization Data -->
	<bean id="devAuth" class="com.pearson.ed.eventing.model.Authorization">
		<property name="username" ref="devUsername"></property>
		<property name="password" ref="devPassword"></property>
	</bean>
	
	<bean id="testAuth" class="com.pearson.ed.eventing.model.Authorization">
		<property name="username" ref="testUsername"></property>
		<property name="password" ref="testPassword"></property>
	</bean>
	
	<bean id="intAuth" class="com.pearson.ed.eventing.model.Authorization">
		<property name="username" ref="intUsername"></property>
		<property name="password" ref="intPassword"></property>
	</bean>
	
	<bean id="ppeAuth" class="com.pearson.ed.eventing.model.Authorization">
		<property name="username" ref="ppeUsername"></property>
		<property name="password" ref="ppePassword"></property>
	</bean>
	
	
	
	
	
	<!--  Callback URLs -->
	<!--  Callback URLs -->
	<!--  Callback URLs -->
    <bean id="devCallbackUrl" class="java.lang.String">
   		<constructor-arg value="http://idpdev.pearsoncmg.com/ProsperoChecker/rest/buffers/dev"/>
   	</bean>
   	
    <bean id="testCallbackUrl" class="java.lang.String">
    	<constructor-arg value="http://idpdev.pearsoncmg.com/ProsperoChecker/rest/buffers/test"/>
    </bean>
    
    <bean id="intCallbackUrl" class="java.lang.String">
    	<constructor-arg value="http://idpdev.pearsoncmg.com/ProsperoChecker/rest/buffers/int"/>
    </bean>
    
    <bean id="ppeCallbackUrl" class="java.lang.String">
    	<constructor-arg value="http://idpdev.pearsoncmg.com/ProsperoChecker/rest/buffers/ppe"/>
    </bean>
	
	
	
	
	<!-- Usernames -->
	<!-- Usernames -->
	<!-- Usernames -->
	<bean id="devUsername" class="java.lang.String">
   		<constructor-arg value="ONE"/>
   	</bean>
   	<bean id="testUsername" class="java.lang.String">
   		<constructor-arg value="ONE"/>
   	</bean>
   	<bean id="intUsername" class="java.lang.String">
   		<constructor-arg value="PIINT"/>
   	</bean>
   	<bean id="ppeUsername" class="java.lang.String">
   		<constructor-arg value="PIPPE"/>
   	</bean>
   	
   	
   	
   	
   	<!-- Passwords -->
	<!-- Passwords -->
	<!-- Passwords -->
	<bean id="devPassword" class="java.lang.String">
   		<constructor-arg value="1234567890123456"/>
   	</bean>
   	<bean id="testPassword" class="java.lang.String">
   		<constructor-arg value="1234567890123456"/>
   	</bean>
   	<bean id="intPassword" class="java.lang.String">
   		<constructor-arg value="1234567890123456"/>
   	</bean>
   	<bean id="ppePassword" class="java.lang.String">
   		<constructor-arg value="0123456789012345"/>
   	</bean>




	<!--  Client Info -->
	<!--  Client Info -->
	<!--  Client Info -->
	<bean id="smsClientInfo" class="com.pearson.ed.eventing.model.ClientInfo">
		<property name="clientId" value="SMS-CLIENT-ID"/>
		<property name="clientString" value="SMS-CLIENT-STRING"/>		
   	</bean>
   	
   	
   	
   	
   	<!-- System Info -->
   	<!-- System Info -->
   	<!-- System Info -->
   	<bean id="smsSystemInfo" class="com.pearson.ed.eventing.model.SystemInfo">
		<property name="subsystem" value="SMS"/>
		<property name="system" value="SMS"/>		
   	</bean>



	
	<!-- Message Types -->
	<!-- Message Types -->
	<!-- Message Types -->
   	<bean id="smsUserEventMessageType" class="java.lang.String">
   		<constructor-arg value="SmsUserEvent"/>
   	</bean>
   	
   	
   	
   	<!-- Tags -->
   	<!-- Tags -->
   	<!-- Tags -->
   	<bean id="smsUserEventTag" class="java.lang.String">
   		<constructor-arg value="SMS:SmsUserEvent"/>
   	</bean>
   	
   	
   	
   	
   	<!-- Prospero URLs -->
   	<!-- Prospero URLs -->
   	<!-- Prospero URLs -->
   	<bean id="devProsperoBaseUrl" class="java.lang.String">
   		<constructor-arg value="http://pidev01"/>
   	</bean>
   	<bean id="testProsperoBaseUrl" class="java.lang.String">
   		<constructor-arg value="http://rumbatestdb01"/>
   	</bean>
   	<bean id="intProsperoBaseUrl" class="java.lang.String">
   		<constructor-arg value="https://prospero.int.pearsoncmg.com"/>
   	</bean>
   	<bean id="ppeProsperoBaseUrl" class="java.lang.String">
   		<constructor-arg value="http://10.252.2.170"/>
   	</bean>
   	
   	<bean id="prodProsperoBaseUrl" class="java.lang.String">
   		<constructor-arg value="https://prospero.ecollege.com"/>
   	</bean>


	<!--  Prospero Send and Subscribe Paths -->   	
   	<bean id="prosperoSendPath" class="java.lang.String">
   		<constructor-arg value="/v1/message"/>
   	</bean>
   	
   	<bean id="prosperoSubscribePath" class="java.lang.String">
   		<constructor-arg value="/v1/subscription"/>
   	</bean>
</beans>
